/* Navigation Interactive */
.nav-list__nav-link:hover::before,
.nav-list__nav-link:active::before {
  transform: scaleX(1);
}
.nav-list__nav-link:focus-visible::before{
  outline: none;
  transform: scaleX(1);
}
.header__search-btn:hover::before{
  opacity: 10%;
}
.header__search-btn:focus-visible::before{
  opacity: 10%;
}
.header__search-btn:active::before{
  opacity: 20%;
}

/* Hero Interactive */
.hero-section__btn:hover{
  background-color: rgb(255, 145, 0);
}
.hero-section__btn:focus-visible{
  background-color: #F90;
}
.hero-section__btn:active{
  background-color: #E1670E
}

/* About Us Interactive */
.extended-content-grid-wrapper__pic-overlay:hover .pic__caption-box::before {
  opacity: 100%;
}
.extended-content-grid-wrapper__pic-overlay:hover .pic__caption {
  opacity: 1;
  transform: translateY(0);
}
.extended-content-grid-wrapper__pic-overlay:hover .pic__caption-btn {
  opacity: 1;
  transform: translateY(0);
}
.pic__caption-btn:hover{
  opacity: 100%;
  background: #F90
}
.pic__caption-btn:focus-visible{
  background: #F90;
}
.pic__caption-btn:active{
  background: rgb(241, 146, 2);
}
/*How We Work Interactive*/
.slide-choose-btns-wrapper__slide-choose-btn:hover{
  color: #F90;
}
.slide-choose-btns-wrapper__slide-choose-btn:focus{
  color: #F90;;
}
.slide-choose-btns-wrapper__slide-choose-btn:active{
  color: #E1670E;
}
.buttons-wrapper__btn-more:hover{
  background-color: rgb(245, 148, 2);
}
.buttons-wrapper__btn-more:focus{
  background-color: #F90;
}
.buttons-wrapper__btn-more:active{
  background-color: #E1670E
}
.buttons-wrapper__btn-agr:hover{
  background-color: #1d1d1d;
  border: #1d1d1d solid 1px;
  color: #ffffff;
}
.buttons-wrapper__btn-agr:focus-visible{
  background-color: #1d1d1d;
  border: #1d1d1d solid 1px;
  color: #ffffff;
}
.buttons-wrapper__btn-agr:active{
  background-color: #111111;
  border: #111111 solid 1px;
  color: #ffffff;
}
/*FAQ Interactive*/
.accordion-box__accordion-item.active:last-child:focus{
  border-bottom: 1px solid #ffffff;
}
/*Footer Interactive*/
.request-imput-box__sumbit-btn:hover{
  background-color: #F90;
}
.request-imput-box__sumbit-btn:focus-visible{
  background-color: #F90;
}
.request-imput-box__sumbit-btn:active{
  background-color: #E1670E !important;
}
